/* Reset default browser styles */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Arial', sans-serif;
    line-height: 1.6;
    font-weight: 300;
    background: radial-gradient(circle, #201e5edf 0%, #0c0a27df 50%, #1e1d61 100%);
    color: #f7f7f7c1;
    margin: 0;
    padding: 0;
}

.about-text {
    font-size: 1.2em;
    font-weight: 300;
    font-family: 'Roboto', sans-serif;
    color: #d1ffd1;
    line-height: 1.3;
    margin-bottom: 20px;
}

.logo a {
    text-decoration: none;
    font-size: 24px;
    font-weight: bold;
    color: #f7f7f7c1;
}

/* Main layout styles */
.content-wrapper {
    display: flex;
    padding-top: 100px;
}

.main-content {
    flex: 2;
    max-width: 800px;
    margin-left: 300px;
    padding: 20px;
    background-color: transparent;
}

.sidebar {
    flex: 0 0 700px;
    padding: 20px;
    background-color: transparent;
    position: sticky;
    top: 100px;
    height: 100vh;
    overflow-y: auto;
    min-width: 700px;
    margin-right: 300px;

    scrollbar-width: none;
    -ms-overflow-style: none;
}

/* Navigation items */
.container ul {
    list-style: none;
    padding: 0;
    margin-top: 20px;
}

.container ul li {
    position: relative;
    margin-bottom: 15px;
}

.container ul li a {
    text-decoration: none;
    color: #f7f7f7;
    font-weight: 300;
    padding-left: 10px;
    transition: all 0.3s;
    display: inline-block;
    margin-left: 10px;
}

.container ul li::before {
    content: "";
    position: absolute;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
    width: 15px;
    height: 2px;
    background-color: #007BFF;
    transition: width 0.3s;
}

.container ul li:hover::before {
    width: 40px;
}

.container ul li:hover a {
    transform: translateX(25px);
}

.container ul li a.active {
    color: #007BFF;
    font-weight: bold;
}

/* Social icons styles */
.social-icons {
    display: flex;
    justify-content: center;
    gap: 15px;
    margin-top: 20px;
    position: absolute;
}

.social-icon img {
    width: 24px;
    height: 24px;
    transition: transform 0.3s, filter 0.3s;
}

.social-icon img[src*="github"] {
    filter: brightness(0.5);
}

.social-icon:hover img {
    transform: scale(1.1);
}

/* Styles for Experience Section */
.experience-container {
    padding: 20px;
    margin-bottom: 20px;
    background-color: transparent;
    transition: background-color 0.3s;
}

.experience-container:hover {
    background-color: rgba(59, 57, 145, 0.3);
}

h3 {
    font-weight: 400;
    color: #f7f7f7;
    margin-bottom: 5px;
}

.job-title {
    font-weight: 300;
    color: #b3b3b3;
    margin-bottom: 10px;
}

.description {
    font-weight: 300;
    color: #e0e0e0;
    margin-bottom: 15px;
}

.tags {
    display: flex;
    gap: 10px;
    flex-wrap: wrap;
}

.tag {
    background-color: #95eb9cfb;
    color: #0e4804;
    padding: 5px 10px;
    border-radius: 15px;
    font-size: 12px;
    text-decoration: none;
    transition: background-color 0.3s, color 0.3s;
}

.tag:hover {
    background-color: #1c5f3a;
    color: #32cd32;
}

/* Styles for Portfolio Section */
.portfolio-container {
    padding: 20px;
    margin-bottom: 20px;
    background-color: transparent;
    transition: background-color 0.3s;
}

.portfolio-container:hover {
    background-color: rgba(59, 57, 145, 0.3);
}

h3 {
    font-weight: 400;
    color: #f7f7f7;
    margin-bottom: 5px;
}

.job-title {
    font-weight: 300;
    color: #b3b3b3;
    margin-bottom: 10px;
}

.description {
    font-weight: 300;
    color: #e0e0e0;
    margin-bottom: 15px;
}
